__pycache__/
/*-stamp
/.tox/
/build/
/cert_receive.egg-info/
/config.mk
/dist/
/debian/*.log
/debian/.debhelper/
/debian/cclub-cert-receive.substvars
/debian/cclub-cert-receive/
/debian/cclub-certbot-send.substvars
/debian/cclub-certbot-send/
/debian/debhelper-build-stamp
/debian/files
/pip_install_*
/wrapper/cert_receive.py
