#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ifneq ($(shell test -d .git && echo $$?),0)
export SETUPTOOLS_SCM_PRETEND_VERSION_FOR_CERT_RECEIVE = $(shell dpkg-parsechangelog -S Version | tr "~" .)
endif


%:
	dh $@


override_dh_auto_clean:
	$(MAKE) distclean

override_dh_auto_configure:
	echo 'prefix = /usr' > config.mk

override_dh_installman:
	dh_installman --language=C

override_dh_missing:
	dh_missing --fail-missing
